---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h3>Race and the State: The Role of Public Policy in U.S. Racial Inequality</h3>
	<p>Teaching Assistant, <i>Harvard Kennedy School</i>, Fall 2023</p>
		<p>Professor Desmond Ang</p>

<h3>Intermediate Price Theory</h3>
	<p>Teaching Assistant, <i>Carleton College</i>, Fall 2017 and Winter 2018</p>
		<p>Professor Jenny Bourne</p>

<h3>Introduction to Macroeconomics</h3>
	<p>Teaching Assistant, <i>Carleton College</i>, Spring 2016</p>
    <p>Professor Nathan Grawe</p>

<h3>Introduction to Microeconomics</h3>
	<p>Teaching Assistant, <i>Carleton College</i>, Fall 2015 and Winter 2016</p>
		<p>Professors Nathan Grawe and Prathi Seneviratne</p>
